.contact-modal {
    width: 50%;
    height: 40%;
    position: fixed;
    background-color: white;
    border-radius: 6px;
    z-index: 3000;
    top: 10%;
    left: 25%;
    transform: translate(-50%, 0);
    overflow: hidden;
    font-weight: 700;
    animation: modal-appears 170ms ease-out forwards;
    border-bottom: 5px solid hsl(180, 62%, 55%);
}

@keyframes modal-appears {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(1rem);
    }
}

p {
    margin-bottom: 2px;
    font-weight: 700;
}

.upper-layer {
    position: relative;
    width: 100%;
    height: 45%;
    background-color: rgb(251, 248, 248);
    overflow-wrap: break-word;
}

.contact-modal-name {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 25px;
}

.contact-modal-company {
    position: absolute;
    top: 70px;
    left: 30px;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 400px) {
    .contact-modal-name {
        font-size: 20px;
    }

    .contact-modal-company {
        font-size: 15px;
    }
}

.bottom-layer {
    position: relative;
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    font-size: medium;
    padding-top: 5px;
    font-weight: 400;
}

.user-name-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-wrap: break-word;
    margin-left: 40px;
}

.address-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.contact-address {
    list-style: none;
    margin-top: 2px;
    padding-left: 0px;
}

.phone-wrapper {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.email-wrapper {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline-block;
    max-width: min-content;
    margin-left: 10px;
    overflow-wrap: break-word;
    overflow: visible;
}

.website-wrapper {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.website-wrapper > p {
    margin-top: 7px;
}

.close-modal-btn {
    cursor: pointer;
    border: 0px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    right: 20px;
    background-color: inherit;
    font-size: large;
    font-weight: 900;
    color: grey;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .contact-modal {
        height: 60%;
    }

    .upper-layer {
        height: 35%;
    }

    .bottom-layer {
        height: 65%;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        grid-template-rows: repeat(2, 50%);
    }

    .user-name-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-wrap: break-word;
        margin-left: 40px;
    }
    
    .address-wrapper {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-wrap: break-word;
    }

    .contact-address {
        list-style: none;
        margin-top: 2px;
        padding-left: 0px;
    }
    
    .phone-wrapper {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-wrap: break-word;
    }
    
    .email-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: inline-block;
        max-width: min-content;
        overflow-wrap: break-word;
        overflow: visible;
        margin-left: 40px;
    }
    
    .website-wrapper {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow-wrap: break-word;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 550px) {
    .contact-modal {
        height: 80%;
        width: 70%;
        position: fixed;
        left: 15%;
        top: 8%;
        transform: translate(-50%, -50%);
    }

    .contact-modal-name {
        position: absolute;
        top: 15px;
        left: 30px;
        font-size: 22px;
    }
    
    .contact-modal-company {
        position: absolute;
        top: 50px;
        left: 30px;
        font-size: 17px;
        font-weight: 400;
    }

    .close-modal-btn {
        cursor: pointer;
        border: 0px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        background-color: inherit;
    }

    .upper-layer {
        position: relative;
        width: 100%;
        height: 25%;
        background-color: rgb(251, 248, 248);
    }

    .bottom-layer {
        display: grid;
        height: 75%;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(8, 12.5%);
    }

    .user-name-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-wrap: break-word;
        margin-left: 40px;
    }
    
    .address-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        margin-left: 40px;
        overflow-wrap: break-word;
    }

    .contact-address {
        list-style: none;
        margin-top: 2px;
        padding-left: 0px;
    }
    
    .phone-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-left: 40px;
        overflow-wrap: break-word;
    }
    
    .email-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        display: inline-block;
        max-width: min-content;
        margin-left: 40px;
        overflow-wrap: break-word;
        overflow: visible;
    }
    
    .website-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        margin-left: 40px;
        overflow-wrap: break-word;
    }
}